/* styles.css */

/* Note: The website that uses this stylesheet is meant to be used on a phone.
So, the original styles prioritize phones, but media queries change elements so
that they look good on a computer as well. */



@import url("reset.css");

/*
=======================
   GLOBAL SELECTORS 
=======================
*/

:root {
	--main-fonts: Arial, sans-serif, serif;
}

body {
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: Arial, sans-serif, serif;
}

button {
	color: #000;
}

/*
=======================
      COMPONENTS
=======================
*/

#container {
	margin: 0 auto;
	text-align: center;
}

header {
	margin-bottom: 15px;
	padding: 10px 0 15px 0;
	background-color: #b3e6ff;
}

header #github-link {
	cursor: pointer;
	margin: 0 0 20px 10px;
	text-align: center;
	text-decoration: underline;
	font-family: var(--main-fonts);
}

#players-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

#players-container .player-card:last-child {
	margin-bottom: 90px;
}

#controls-interface-container {
	position: fixed;
	bottom: 0;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#player-name-input {
	padding: 15px;
	background-image: linear-gradient(to bottom, #ffeecc, #fff7e6);
	border: none;
	border-radius: 5px 0 0 5px;
}

::placeholder {
	color: #8c8c8c;
}

#player-name-input:focus {
	outline: none;
}

#add-player-button {
	border-radius: 0 5px 5px 0;
}

#roll-die-button {
	margin-left: 5px;
}

.controls-interface-button {
	cursor: pointer;
	display: inline-block;
	padding: 15px;
	background-color: #e6e6e6;
	font-family: var(--main-fonts);
	border: none;
	border-radius: 5px;
}

.controls-interface-button:hover {
	background-color: #bfbfbf;
	transition-duration: 0.2s;
}



.player-card {
	flex-grow : 1;
	width: 70%;
	margin: 10px auto;
	padding: 20px;
	background-color: #ffffcc;
	color: #000;
	font-family: var(--main-fonts);
	border-radius: 10px;
}

.player-name {
	font-size: 20px;
	margin-bottom: 5px;
}

.player-control-button {
	cursor: pointer;
	display: block;
	width: 80%;
	margin: 5px auto;
	padding: 16px;
	background-image: linear-gradient(to bottom, #ffd480, #ffc34d);
	font-size: 16px;
	border: none;
	border-radius: 5px;
}

.player-controls-button:hover {
	background-image: linear-gradient(to bottom, #ffc34d, #ffd480);
}

.active-pause-button {
	background-image: linear-gradient(to bottom, #fff7e6, #ffe6b3);
	color: #404040;
}

.delete-player-button {
	cursor: pointer;
	margin-top: 10px;
	padding: 10px;
	background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 200, 200));
	color: #000;
	border: none;
	border-radius: 5px;
}

.delete-player-button:hover {
	text-decoration: underline;
}


/*
=======================
    MEDIA QUERIES 
=======================
*/
   
@media screen and (min-width: 450px) {
	
	#players-container {
		flex-direction: row;
	}
	
	.player-card {
		min-width: 40%;
		max-width: 40%;
	}
	
}